@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

body {
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Poppins !important;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
}

:root {
  --brand-color: #519872;
  --text-primary: #1e293b;
  --text-secondary: #475569;
}
button,
input,
select,
textarea {
  border: none;
  outline: none;
  cursor: pointer;
}
button {
  -webkit-tap-highlight-color: transparent;
}

.auth-layout {
  width: 100vw;
  height: 100svh;
  background: #f4f6f9;
  overflow: hidden;
}
.auth-phone {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding-block: 12px;
  padding-inline: 12px;
}
.phone-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}
.otp-auth img,
.userform-auth img,
.auth-phone img {
  max-width: 60px;
}
.auth-layout b {
  font-size: 20px;
  font-weight: 400;
}
.auth-layout input,
.auth-layout select {
  width: 100%;
  height: 50px;
  padding-inline: 12px;
  font-size: 18px;
  border-radius: 6px;
  border: 2px solid #d8d8d8b0;
  &:focus {
    border: 2px solid var(--brand-color);
  }
}
.auth-layout select {
  background-color: #fff;
}
.auth-phone input {
  background-image: url(../assets/uz.png);
  background-repeat: no-repeat;
  background-position: 6px center;
  background-size: contain;
  padding-inline: 60px;
}
.phone-body button {
  width: 100%;
  height: 50px;
  font-size: 18px;
  border-radius: 6px;
  background-color: var(--brand-color);
  color: #fff;
}
.phone-body p {
  font-size: 16px;
  color: var(--text-secondary);
}
.phone-body p a {
  color: var(--text-secondary);
  text-decoration: underline;
}
.otp-body {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.otp-body > :nth-child(1),
.otp-body > :nth-child(2),
.otp-body > :nth-child(3) {
  text-align: center;
  align-self: center;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.otp-body input {
  text-align: center;
}
.otp-body > button {
  width: 120px;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: var(--brand-color);
  border-radius: 6px;
  &:disabled {
    color: gray;
    background: #d8d8d8;
  }
}
.otp-body > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.otp-body > div > img {
  margin: 0 auto;
}
.otp-body > div > button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  padding: 6px;
  background: transparent;
}
.otp-auth {
  padding-block: 12px;
  padding-inline: 12px;
}
.introduction-auth {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.int-body {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-block-end: 12px;
  padding-inline: 12px;
}
.int-body p {
  font-size: 24px;
}
.int-body button {
  width: 100%;
  height: 50px;
  color: #fff;
  background-color: var(--brand-color);
  border-radius: 6px;
  font-size: 18px;
}
.int-body p b {
  font-weight: 600;
}
.introduction-auth img {
  object-fit: cover;
  height: 60%;
}
.int-body span {
  color: var(--text-secondary);
}

.userform-auth > div > img {
  margin: 0 auto;
}
.userform-auth > div > button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  padding: 6px;
  background: transparent;
}
.userform-auth > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.userform-auth {
  padding-inline: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.userform-auth form {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.userform-auth form span {
  color: var(--text-secondary);
}
.userform-auth form input {
  width: 100%;
}
.userform-auth form div {
  display: flex;
  align-items: center;
  gap: 12px;
}
.userform-auth form div div {
  height: 40px;
  width: calc(100% - 6px);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 6px;
}
.userform-auth form button {
  width: 100%;
  height: 50px;
  display: flex;
  border-radius: 6px;
  background-color: var(--brand-color);
  color: #fff;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
}
.success-auth {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-inline: 12px;
  padding-block: 12px;
  width: 100%;
  height: 100%;
}
.success-body {
  display: flex;
  flex-direction: column;
  gap: 6px;
  justify-content: center;
  width: 100%;
  height: 60vh;
  align-items: end;
  justify-content: end;
}
.success-body img {
  width: 50%;
  display: flex;
  align-self: center;
  justify-self: center;
}
.success-body h2 {
  text-align: center;
}
.success-auth button {
  height: 50px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
  background-color: var(--brand-color);
}
.layout,
.loading-wrapper {
  width: 100vw;
  height: 100svh;
  max-width: 430px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  background-color: #fff;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
.loading-wrapper {
  padding-inline: 15px;
  padding-block: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.home {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-inline: 5px;
  padding-block: 5px;
  padding-block-end: 60px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
}
body::-webkit-scrollbar,
div::-webkit-scrollbar {
  display: none;
}
.search {
  width: 90%;
  display: flex;
  align-self: center;
  height: 50px;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-size: 18px;
  border-radius: 10px;
  background-color: #efeeec;
  color: #9c9895;
  flex-shrink: 0;
}
.container {
  display: flex;
  align-items: start;
  width: 100%;
  justify-content: space-between;
  padding-inline: 5px;
  gap: 5px;
}
.container > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 13px;
  text-align: center;
  align-items: center;
}
.container > div > button {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: #efeeec;
}
.container > div > b {
  width: 100%;
  height: 30px;
  font-size: 12px;
  font-weight: 600;
}
.box {
  width: 100%;
  height: 60px;
  display: flex;
  padding-inline: 10px;
  padding-block: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  border-radius: 15px;
  background-color: #efeeec;
  flex-shrink: 0;
}
.box > div {
  display: flex;
  align-items: center;
  gap: 15px;
}
.box > div > img {
  width: 30px;
}
.box > div > p {
  font-size: 12px;
}
.discount {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.discount-head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.discount-body {
  width: 100%;
  overflow-x: auto;
  display: flex;
  align-items: center;
  gap: 15px;
  padding-inline: 5px;
}

.card {
  flex-shrink: 0;
  width: 133px;
  height: 300px;
  border-radius: 15px;
  background-color: #f8f7f5;
}

.card-image {
  width: 100%;
  border-radius: 15px 15px 0 0;
  height: 150px;
  background-color: #fff;
  border-right: 2px solid #f8f7f5;
  border-top: 2px solid #f8f7f5;
  border-left: 2px solid #f8f7f5;
  position: relative;
}
.card-image > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.card-title {
  width: 100%;
  height: 150px;
  padding-inline: 5px;
  padding-block: 5px;
  border-radius: 0 0 15px 15px;
  display: flex;
  flex-direction: column;
}
.tags {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 10px;
  position: absolute;
  bottom: 5px;
  left: 2px;
}
.tags > p {
  padding: 1px;
  border-radius: 5px;
  padding-inline: 2px;
  text-transform: uppercase;
  color: #fff;
  font-size: 10px;
}
.card-title > b,
.discount-b,
.basket-title > b {
  color: red;
  font-size: 16px;
  font-weight: 600;
}
.card-title > span,
.discount-span,
.basket-title > span {
  position: relative;
  font-size: 12px;
  display: flex;
  width: 70%;
  color: #9c9895;
}

.card-title > span::after,
.discount-span::after,
.basket-title > span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 70%;
  height: 2px;
  background-color: red;
  transform: rotate(-10deg);
  transform-origin: center;
}
.basket-title > span::after {
  width: 45%;
  height: 1.5px;
}
.card-title > p {
  display: block;
  max-height: calc(1.2em * 3);
  overflow: hidden;
  font-size: 12px;
  line-height: 1.2em;
}

.card-title > h5,
.basket-title > h5 {
  font-weight: 500;
  font-size: 12px;
  color: #9c9895;
}
.card-title > button {
  display: flex;
  height: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  margin-top: auto;
  background-color: #fff;
  font-size: 14px;
}
.discount-head > button {
  padding: 10px;
  padding-inline: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 10px;
  justify-content: space-between;
}
.discount-head > b {
  font-size: 20px;
  font-weight: 600;
}
.category-container {
  width: 100%;
  display: flex;

  flex-direction: column;
  gap: 5px;
  font-size: 20px;
  font-weight: 600;
}
.category-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
.category-card {
  width: calc(50% - 2px);
  flex: 0 0 calc(50% - 10px);
  aspect-ratio: 16 / 9;

  height: 35vw;
  max-height: 120px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.category-card > img {
  max-width: 120px;
  height: 75%;
  object-fit: contain;
  margin-left: auto;
  margin-top: auto;
}
.category-card > p {
  font-size: 12px;
  margin-top: 5px;
  margin-left: 10px;
  font-weight: 600;
}
.category-flex {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}
.category-penta {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

/* 1-qator (1 va 2-element) */
.category-penta > :nth-child(-n + 2) {
  flex: 0 0 calc(50% - 3px);
}

/* 2-qator (3, 4, 5-element) */
.category-penta > :nth-child(n + 3):nth-child(-n + 5) {
  flex: 0 0 calc(33.333% - 4px);
}

/* 3-qator (6 va 7-element) */
.category-penta > :nth-child(n + 6):nth-child(-n + 7) {
  flex: 0 0 calc(50% - 5px);
}
.category-item {
  flex: 0 0 calc(33.333% - 4px);
  box-sizing: border-box;
  width: calc(33.333% - 4px);
  aspect-ratio: 1 / 1;
  max-height: 120px;
  background: #b9ccec;
  position: relative;
  display: flex;
  align-items: end;
  justify-content: end;
  border-radius: 15px;
}

.category-item > img {
  width: 80%;
  max-width: 100px;
  object-fit: contain;
  display: flex;
  margin-left: auto;
  margin-top: auto;
}
.category-item > p {
  padding-left: 1px;
  padding-block: 1px;
}
.category-flex > :first-child > img {
  width: 50%;
  height: 80%;
}
.category-flex > :last-child > img {
  width: 70%;
}
.category-item > p {
  position: absolute;
  top: 4px;
  left: 4px;
  font-weight: 500;
  font-size: 13px;
}
.category-flex > :nth-child(4) > img {
  height: 70%;
}
.search-location {
  width: 100%;
  height: 100%;
  background: #fff;
  padding-block: 5px;
  overflow-y: scroll;
  padding-inline: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.search-location > div {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #fff;
  gap: 5px;
}
.search-location > div > button {
  flex-grow: 0.5;
  height: 40px;
  border-radius: 15px;
}
.search-input {
  width: 100%;
  display: flex;
  align-items: center;
  height: 50px;
  background-color: #f0f0f0 !important;
  border-radius: 15px;
  gap: 5px;
  max-width: 430px;
}
.search-input > input {
  width: 100%;
  padding-inline: 25px;
  height: 100%;
  background: transparent;
  font-size: 16px;
}
.suggestions {
  width: 100%;
  height: calc(100% - 110px);
  display: flex;
  flex-direction: column;
  padding-block-end: 5px;
}
.suggestion {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  gap: 5px;
  border-bottom: 1px solid #ccc;
  padding-block: 5px;
  cursor: pointer;
}
.suggestion > div {
  display: flex;
  flex-direction: column;
}
.suggestion > div > p {
  font-size: 14px;
}
.suggestion > div > span {
  font-size: 10px;
  color: #868686;
}
.suggestion > :first-child {
  width: 20px;
  font-size: 20px;
  flex-shrink: 0;
}
.suggestion > div {
  flex-grow: 1;
  min-width: 0;
}
.map-page {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: end;
  flex-direction: column;
}
.map-page > button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #fff;
  font-size: 18px;
  box-shadow: 0px 0px 3px gray;
}
.arrow-left {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
}
.places-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
}
.location {
  position: absolute;
  right: 10px;
  bottom: 150px;
  z-index: 2;
}
.map-footer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  height: 100px;
  flex-grow: 0;
  transition: 0.5s;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0px 1px 3px gray;
  position: absolute;
  bottom: 0;
}
.map-footer > button {
  width: calc(100% - 30px);
  height: 50px;
  border-radius: 15px;
  font-size: 18px;
  background-color: var(--brand-color);
  color: #fff;
  &:disabled {
    background-color: #e5e5e5;
    color: #ababab;
    font-weight: 500;
    justify-content: center;
  }
}
.map-body {
  width: 100%;
  transition: 0.5s;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  outline: none;
  flex: 1;
}
.marker {
  position: absolute;
  z-index: 2;
}
.marker > img {
  width: 25px;
  object-fit: contain;
  transition: 0.3s;
}
.modal-container {
  width: 100vw;
  height: 100svh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #00000071;
  z-index: 6;
  flex-direction: column;
}
.aksiya-modal {
  width: 90%;
  height: 70%;
  max-height: 500px;
  max-width: 430px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 15px;
  opacity: 0;
  transform: translateY(50%);
  animation: fadeSlideUp 0.3s ease-out forwards;
}

.aksiya-modal.hide {
  animation: fadeSlideDown 0.2s ease-in forwards;
}

@keyframes fadeSlideUp {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeSlideDown {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(30%);
    opacity: 0;
  }
}

.modal-image {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  background: var(--brand-color);
  border-radius: 15px 15px 0 0;
}
.modal-image > img {
  width: 70%;
  object-fit: contain;
}
.modal-body {
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 5px;
  padding-inline: 15px;
  padding-block: 5px;
  padding-block-end: 15px;
}
.modal-body > button {
  width: 100%;
  height: 40px;
  border-radius: 15px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #c3e4db;
  margin-top: auto;
}
.modal-body > p {
  font-size: 14px;
}
.modal-body > b {
  font-size: 18px;
}
.home > p {
  display: flex;
  align-items: center;
  gap: 5px;
  align-self: center;
  font-size: 14px;
  margin-top: 5px;
  cursor: pointer;
}
.counter {
  width: 100%;
  height: 30px;
  border-radius: 15px;
  padding-inline: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  background-color: #fff;
  font-size: 14px;
  box-shadow: 0 0 5px rgba(128, 128, 128, 0.459);
}
.counter > button {
  font-size: 16px;
  font-weight: 300;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-sticky-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  transition: 0.5s;
  z-index: 3;
}
.search-sticky {
  width: 430px;
  height: 60px;
  padding-block: 5px;
  padding-inline: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 0 5px gray;
}
.search-sticky > .search {
  justify-content: start;
  padding-inline-start: 15px;
  gap: 5px;
  width: 100%;
  height: 40px;
  font-size: 16px;
  border-radius: 15px 15px 15px 15px;
}
.search-wrapper {
  width: 100%;
  height: 100%;
  padding-block: 5px;
  padding-inline: 5px;
  padding-block-start: 55px;
}
.search-container {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  align-self: center;
  padding-inline: 5px;
  z-index: 2;
  background-color: #fff;
  box-shadow: 0 0 5px gray;
  max-width: 430px;
}
.search-container > .search {
  height: 40px;
  justify-content: start;
  padding-inline-start: 15px;
  gap: 5px;
  font-size: 16px;
  width: auto;
  flex-grow: 1;
}
.search-container > button {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  padding-inline: 5px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}
.search-container > .search > input {
  flex-grow: 1;
  height: 100%;
  background: transparent;
  font-size: 16px;
  margin-right: 10px;
}
.ant-collapse-header-text {
  font-weight: 600;
}
.product-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  background-color: #f5f4f2;
  padding-block-end: 75px;
}
.product-image {
  width: 100%;
  aspect-ratio: 1 / 1;
  position: relative;
  background-color: #fff;
}
.product-image > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.actions {
  position: fixed;
  top: 5px;
  right: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.actions > button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 5px -1px 15px rgba(128, 128, 128, 0.582);
}
.product-body {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-inline: 15px;
  border-radius: 25px;
  background-color: #fff;
}
.product-price {
  width: 430px;
  height: 75px;
  max-width: 430px;
  border-radius: 15px 15px 0 0;
  display: flex;
  align-items: center;
  padding-inline: 15px;
  justify-content: space-between;
  box-shadow: 0 0 5px rgba(128, 128, 128, 0.459);
  background-color: #fff;
}
.product-price > button {
  width: 150px;
  height: 50px;
  background-color: var(--brand-color);
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-counter {
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-inline: 15px;
  justify-content: space-between;
  background-color: #efeeeb;
  border-radius: 15px;
  font-size: 20px;
}
.product-counter > button {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.product-price > button:disabled,
.card-title > button:disabled {
  color: #868686;
  background-color: #efeeeb;
}
.extra-products {
  padding-inline: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-block: 10px;
  background-color: #fff;
  margin-top: 15px;
  border-radius: 25px;
}
.extra-products-container {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  gap: 5px;
  padding-block: 5px;
}
.products-header > button {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background-color: transparent;
}
.products-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.8px solid #c7c6c5;
  padding-block-start: 5px;
  padding-block-end: 15px;
}
.products-header > h3 {
  font-weight: 500;
}
.empty-box {
  width: 100%;
  height: 300px;
  background-color: #f8f7f5;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  font-size: 14px;
  padding-inline: 15px;
  color: #a7a6a4;
  margin-top: 15px;
  border-radius: 15px;
  padding-block-start: 15px;
}
.empty-box > img {
  width: 50%;
  object-fit: contain;
}
.extra-products-container > .card {
  width: 49%;
}

.loading-wrapper > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
.basket-sticky {
  width: 430px;
  border-radius: 15px 15px 0 0;
  height: 50px;
  display: flex;
  align-items: center;
  padding-inline: 15px;
  box-shadow: 0 0 5px gray;
  background-color: #fff;
  justify-content: space-between;
  padding-block: 5px;
}
.basket-sticky > div > button:first-child {
  width: 50px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  position: relative;
}
.basket-sticky > div > button:first-child > span {
  position: absolute;
  top: -5px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.basket-sticky > div {
  display: flex;
  align-items: center;
  gap: 15px;
}
.basket-sticky > div > button:last-child {
  width: 50px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--brand-color);
  background-color: transparent;
}
.basket-sticky > button:nth-child(2) {
  width: 120px;
  height: 100%;
  border-radius: 12px;
  color: #fff;
  font-weight: 500;
  background-color: var(--brand-color);
}
.basket-wrapper {
  width: 100%;
  height: 100%;
  background-color: #f8f7f5;
  display: flex;
  flex-direction: column;
  padding-inline: 15px;
  padding-block: 15px;
  gap: 5px;
  overflow-y: auto;
  padding-block-end: 85px;

  position: relative;
}
.basket-wrapper > h3 {
  font-size: 25px;
}
.basket-header {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.basket-actions {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 100%;
}
.basket-header > button,
.basket-actions > button {
  height: 100%;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background-color: transparent;
}
.progress {
  width: 100%;
  height: 100px;
  background-color: #fff;
  padding-inline: 15px;
  padding-block: 15px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
}
.progress > strong {
  font-weight: 600;
  font-size: 18px;
}
.progress > p {
  font-size: 14px;
}
.progress > progress {
  width: 100%;
  border-radius: 0;
  height: 5px;
}
progress::-webkit-progress-bar {
  background-color: #e4e3e1;
  border-radius: 10px;
}
progress::-webkit-progress-value {
  background-color: #0dc459;
  border-radius: 10px;
}
.basket-products {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: transparent;
  border-radius: 15px;
}
.basket-product {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
  padding-inline: 5px;
  padding-block: 15px;
}
.basket-product > img {
  width: 65px;
  height: 65px;
  object-fit: contain;
  flex-shrink: 0;
}
.basket-title {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-inline: 5px;
}
.basket-title > p {
  font-size: 12px;
}
.basket-product > .counter {
  width: 120px;
  flex-shrink: 0;
  margin-top: 0;
  box-shadow: 0 0 0 #fff;
  background-color: #f8f7f5;
}
.basket-title > b {
  font-size: 12px;
}
.basket-title > span {
  font-size: 10px;
}
.payment-fixed-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: transparent;
  z-index: 5;
}
.payment-fixed {
  width: 430px;
  height: 70px;
  display: flex;
  align-items: center;
  padding-inline: 10px;
  padding-block: 10px;
  background-color: #fff;
  box-shadow: 0 0 5px gray;
  border-radius: 15px 15px 0 0;
}
.payment-fixed > button {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: var(--brand-color);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 15px;
  color: #fff;
  &:disabled {
    background-color: #e5e5e5;
    color: #ababab;
    font-weight: 500;
    justify-content: center;
  }
}
.modal-body > div {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: auto;
  gap: 5px;
}
.modal-body > div > button {
  flex-grow: 0.5;
  height: 40px;
  border-radius: 15px;
  color: #fff;
  font-weight: 600;
  background-color: var(--brand-color);
}
.success-result {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.success-result > p {
  font-size: 22px;
}
.success-result > span {
  font-size: 16px;
  font-weight: 500;
}
.success-result > div {
  width: 100%;
  display: flex;
  align-items: center;
  padding-inline: 15px;
  gap: 15px;
}
.success-result > div > button {
  flex-grow: 0.5;
  height: 40px;
  border-radius: 15px;
  background-color: var(--brand-color);
  font-weight: 600;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.progress > div {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 15px;
}
.progress > div > button {
  height: 40px;
  flex-grow: 0.5;
  font-size: 16px;
  font-weight: 600;
  border-radius: 15px;
}

.quantity {
  width: 75px;
  flex-shrink: 0;
  margin-top: auto;
  display: flex;
  justify-content: center;
}
.progress > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.progress > div > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.progress > div > div > p {
  font-size: 16px;
  font-weight: 600;
}
.progress > div > div > a {
  font-size: 14px;
  font-weight: 500;
  padding: 5px;
  border-radius: 15px;
  background-color: var(--brand-color);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.progress > textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #efefef;
  padding-inline: 5px;
  padding-block: 5px;
  resize: none;
  margin-top: 5px;
  text-decoration: none;
  margin-bottom: 5px;
}
.progress > button {
  width: 100%;
  height: 40px;
  border-radius: 15px;
  background-color: var(--brand-color);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  padding: 5px;
  &:disabled {
    background-color: #e5e5e5;
    color: #ababab;
    font-weight: 500;
    justify-content: center;
  }
}

.gm-control-active {
  display: none !important;
}

@media (min-width: 420px) {
  .extra-products-container > .card {
    width: 32%;
  }
}
